[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panel = "*"
openai = "*"
elasticsearch = "*"
python-dotenv = "*"
ollama = "*"

[dev-packages]
watchfiles = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
ipykernel = "*"

[requires]
python_version = "3.9"